* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
}

#nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0 10px;
}

#double-lines {
    width: 100%;
    height: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#social {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 25%;
}

.social-icon {
    font-weight: 600;
}

#double-lines .line {
    width: 50%;
    background-color: black;
    border: 2px solid;
}

.transform-title {
    transform: rotate(-90deg);
    font-weight: 800;
}

#main {
    background-color: black;
    width: 100%;
    height: 100%;
}

#bg-img {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
}

.white-heading {
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
}

#case-study {
    position: absolute;
    top: 10%;
    left: 14%;
}

#classic {
    position: absolute;
    top: 10%;
}

#project-details {
    position: absolute;
    top: 11%;
    right: 14%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#details {
    color: #BFBABA;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 30%;
}